body {
  background-color: #1abc9c;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 10px 200px;
}

.container-index {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-btn {
  margin: 20px;
}

.beer-item {
  margin: 10px 0;
  color: black;
  font-size: 1.3rem;
}

.getbeer, .addbeer {
  margin-top: 30px;
}

