body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: pink;
}
.container {
  margin: 10px 200px;
}

.beer-item {
  margin: 10px 0;
  color: #00B7FF;
}

.getbeer, .addbeer {
  margin-top: 30px;
}
a {
  color: #00B7FF;
}
