<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Home</title>
</head>
<body>
  <div class="container-index">
    <h1>
      A basic full-stack Beer API built over the weekend
    </h1>
    <h2>
      <a href="https://github.com/thenderson55/we-beer-simple" target="_blank">
        Click here for Github Repository</a>
    </h2>
    <div class="main-btn">
      <a class="ui button primary" href="/server/views/main.html">Main</a>
    </div>
  </div>
</body>
</html>